openapi: 3.0.3
info:
  title: Acquia DAM (Widen) Acquia-DAM-Webhooks File-Formats API
  description: 'Acquia Digital Asset Management (formerly Widen Collective) provides REST APIs for managing digital assets, metadata, collections, embed codes, and asset distribution workflows. The API supports asset search and discovery, metadata management, analytics, orders, products, webhooks, and workflow automation across both v1 and v2 endpoints.

    '
  version: '2.0'
  contact:
    name: Acquia Support
    url: https://acquia.my.site.com/s/
  x-api-id: acquia-dam
  license:
    name: Proprietary
servers:
- url: https://api.widencollective.com/v2
  description: Acquia DAM API v2
- url: https://api.widencollective.com/v1
  description: Acquia DAM API v1 (legacy)
security:
- bearerAuth: []
tags:
- name: File-Formats
  description: List recognized file formats.
paths:
  /fileformats:
    get:
      operationId: getFileFormats
      summary: List recognized file formats (v1)
      tags:
      - File-Formats
      x-api-version: '1'
      responses:
        '200':
          description: Supported file formats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFileFormatsResult'
components:
  schemas:
    ListFileFormatsResult:
      type: object
      properties:
        count:
          type: integer
        formats:
          type: array
          items:
            type: object
            properties:
              description:
                type: string
              name:
                type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth2 Bearer token obtained from Acquia DAM.
externalDocs:
  description: Acquia DAM API v2 Documentation
  url: https://docs.acquia.com/acquia-dam/api-v2
